<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.user.travelapp">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".HomeActivity" />
        <activity
            android:name=".InfoActivity"
            android:label="@string/title_place_detail"
            android:parentActivityName=".InfoActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.user.travelapp.InfoActivity" />
        </activity>
        <activity android:name=".ItineraryActivity" />

        <activity
            android:name=".ExhaustiveActivity"
            android:label="ExhaustiveActivity">
        </activity>

        <activity
            android:name=".FastActivity"
            android:label="FastActivity">
        </activity>
        <activity android:name=".MapActivity" />
    </application>

</manifest>